
* {
    
    box-sizing: border-box;
    
    
}


nav {
    background-color:peachpuff;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin:20px;
}

.input-container{
    display: flex;
    align-items: center;
    border: 1px solid #ff6e00;
    padding: 5px;
    width:300px;
    height:50px;
    border-radius: 50px;
    margin:10px;
    position:relative;
    transition: width 10s;
}
.input{
    margin:10px 50px;
    margin-left: 20px;
    width:100%;
    color:#ff6e00;
    border: none;
    background: transparent;
    outline:none;

}

.magnifier{
    position: absolute;
    right: 15px;
    width:15px;
    text-align: center;
    margin: 0 auto;
    cursor:grab;
    color:#ffa31a;
}

ul li{
    margin-left: 40px;
    font-family: sans-serif;
    display: inline;
    flex-direction: row;
}

main{
    justify-content: center;
    display: flex;
    align-items: center;
}

.container{
    display: flex;
    width:50%;
    padding: 3px;
    box-shadow:  10px 10px 40px 5px #e0e0e0;
    margin-top: 5px;
    justify-content: space-around;
    align-items: center;

}

.contents-container h3{
    font-family: sans-serif;
    font-size: large;
    color:rgb(120, 95, 160);
}

.contents-container p{
    font-family: sans-serif;
    margin-bottom: 2px;
    color:#444444;
    width:25px;

}
.image{
    transform: translateX(-100px);
    margin-top: 1px;
    width:300px;
    height:300px;
    border-radius: 250px;
    background:url(./images/bgv-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.main-button{
    background: transparent;
    border:none;
    border: 2px solid orange;
    padding:10px;
    color:black;
}
.ingredients
{
    width:80px;
    margin: 0 auto;
    margin-top:5rem;
    padding:50px;
}
.ingredients span{
    display:flex;
    flex-wrap:wrap;
    list-style:none;

}
ing{
    padding:10px 20px;
    border:1px solid black;
    color:yellow;
    font-family:sans-serif;
    border-radius: 100px;
}

